<!DOCTYPE html>
<html lang="en">

<head>
    <title>Watch With Me</title>
    <link rel="stylesheet" href="/css/home-styles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="icon" href="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c545.png">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="mainNav">
            <a class="navbar-brand" href="#">
                <img src="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c545.png" width="30" height="30"
                    class="d-inline-block align-top" alt="">
                Watch With Me
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#create" data-toggle="modal" data-target="#createModal">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" >Join</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <a name="page-top"></a>

    <div class="row" style="color: white; display: flex;">
        <div class="col" style="float: left; width: 50%;background: rgb(126, 56, 56);padding-top: 200px;padding-bottom: 200px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 style="font-size: 3em;">Create A Room</h2>
                        <ol style="font-size:20px;">
                            <li>Find a youtube video</li>
                            <li>Press Create</li>
                            <li>Share the code with your friends</li>
                            <li>Have fun watching videos!</li>
                        </ol>
                        <div style="padding-left: 20px">
                            <button type="submit" class="btn btn-light" data-toggle="modal"
                                data-target="#createModal">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="float: left; width: 50%;background: rgb(70, 22, 28);padding-top: 200px;padding-bottom: 200px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 style="font-size: 3em;">Join A Room</h2>
                        <p>Enter The Room Code Below</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="form-group w-50">
                            <input type="code" style="width: 25em;" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Enter Code">
                        </div>
                        <button type="submit" onclick="new_link()" class="btn-lg btn-light" style="width: 25em; height: 3em;">Join</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 style="font-size: 3em;">About</h2>
                    <p class="lead">
                        Watch With Me allows users to concurrently watch a video and chat live.<br><br>

                        Problem Scenario: Billy and Mandy want to watch a video together but are not in the same physical location. They load up a  video individually and attempt to start the video at the same time, but it is never truly synced. Billy needs to answer the door and leaves for a moment pausing his own video, but Mandy does not pause her video causing the videos to de-sync.<br><br>
                        
                        
                        Usage Scenario: Billy hops on Watch With Me and enters the video url. It generates a room where both Billy and Mandy can watch together!

                    </p>
                </div>
            </div>
        </div>
    </section>


    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark" style = "color:white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Your Room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div id="group1" class="d-inline-block" style="width: 100%">
                            <div class="form-group">
                                <label for="roomname">Room Name</label> 
                                <input type="roomname" class="form-control" id="roomname" placeholder="Enter a Room Name (optional)">
                            </div>
                            <div class="form-group">
                                <label for="vidurl">Video URL</label>
                                <input type="vidurl" class="form-control" id="vidurl" placeholder="Enter a YouTube url" required>
                                <div class="text-danger d-none" id="modal-error">Please Enter a Valid YouTube url.</div>
                            </div>
                        </div>
                        <div id="group2" class="d-none" style="width: 100%">
                            <div class="text-success">
                                You created a room succesfully!
                            </div>
                            <div class="form-group">
                                <label for="link">Link</label>
                                <input type="link" class="form-control" id="link" placeholder="Your Link" readonly>
                            </div>
                            <div class="form-group">
                                <label for="code">Shareable Code</label>
                                <input type="code" class="form-control" id="code" placeholder="Your Code" readonly>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" onclick="create_room()" class="btn btn-primary" id="c_butt">Create</button>
                    <button type="button" onclick="goto_room()" class="btn btn-success d-none" id="go_butt">Go!</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark" style = "color:white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Invalid Room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   <h>Please enter a valid room code</h>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://gdata.youtube.com/feeds/api/videos/videoid?v=2&alt=json-in-script&format=5&callback=getTitle"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>

    <script>
        var socket = io.connect(document.location.origin, {query:{type:'home'}});  
        function create_room(){
            var room_name = document.getElementById("roomname").value;
            var vid = document.getElementById("vidurl").value;
            
            var reg = /http(?:s?):\/\/(?:www\.)?youtu(?:be\.com\/watch\?v=|\.be\/)([\w\-\_]*)(&(amp;)?‌​[\w\?‌​=]*)?/
            var is_valid = vid.match(reg);
            if(!is_valid){
                $("#vidurl").addClass("is-invalid");
                $("#modal-error").addClass("d-inline-block");
                $("#modal-error").removeClass("d-none");
                console.log("invalid link");
                return;
            }
            vid = is_valid[1];
            
            
            msg = {
                "room_name": room_name,
                "vid": vid
            }
            socket.emit('create_room', JSON.stringify(msg));
        }
        function goto_room(){
            let m = $('#link').val();
            location.href = m;
        }

        socket.on('create_room', function(msg) {
            var msg_p = JSON.parse(msg);
            link = document.location.origin + msg_p["route"] + "/" + msg_p["token"];
            console.log(link);
            
            //return the value to the user somehow
            $("#group2").addClass("d-inline-block");
            $("#group2").removeClass("d-none");
            $("#group1").addClass("d-none");
            $("#group1").removeClass("d-inline-block");
            $("#c_butt").addClass("d-none");
            $("#c_butt").removeClass("d-inline-block");
            $("#go_butt").addClass("d-inline-block");
            $("#go_butt").removeClass("d-none");

            document.getElementById('code').value = msg_p["token"];
            document.getElementById('link').value = link;
        });
        function new_link() {
            var room = document.getElementById("exampleInputEmail1").value;
            
            socket.emit("is_valid", room);

            socket.on("is_valid", function(msg) {

                if (msg == "valid") {
                    link = document.location.origin + "/watch/" + room;
                    location.replace(link);
                } else {
                    $("#errorModal").modal('show');
                }
            });
        }
        (function($) {
  "use strict"; // Start of use strict
  // Closes responsive menu when a scroll trigger link is clicked
  $('.js-scroll-trigger').click(function() {
    $('.navbar-collapse').collapse('hide');
  });

  // Activate scrollspy to add active class to navbar items on scroll
  $('body').scrollspy({
    target: '#mainNav',
    offset: 56
  });

})(jQuery); // End of use strict
    </script>
</body>

</html>
