
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c545.png">

    <title>Watch With Me</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      #chat { font: 13px Helvetica, Arial; display: block; width: 100%;}
      #chat_form { display:block;background: #000; padding: 3px;width: 100%; }
      #chat_form input { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
      #chat_form button { width: 19%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages {display:block;overflow:auto; height: 700px;list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; word-wrap: break-word;}
      #messages li:nth-child(odd) {  }

    </style>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">
                <img src="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c545.png" width="30" height="30"
                    class="d-inline-block align-top" alt="">
                Watch With Me
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#create">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#join">Join</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                </ul>
            </div>
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

        </nav>
    </header>

    <!--TODO: Sidebar Chat-->
    <div class="wrapper">
    </div>

    <!--Main Content-->
    <div>
      <div style="width: 80%;display:inline-block;">
        <div class="container" id="main-content">
          <div class="" style="position: relative">
            <div style="top: 0; left: 0;position: absolute; z-index: 10; height: 100%; width: 100%; background-color: black; opacity: 0"></div>
            <div id="video-title">
              <p class="font-weight-bold font-italic">Twice: Fancy</p>
            </div>
            <div id="player"></div>
          </div>
          <div class="d-flex">
            <div class="">
              <button type="button" onclick="emitPlay()" class="btn btn-dark p-2"><image class="p-2" style="width: 45px; height: 45px;" src="../images/triangle-right.svg"></image></button>
              <button type="button" onclick="emitPause()" class="btn btn-dark p-2"><image class="p-2" style="width: 45px; height: 45px;" src="../images/primitive-square.svg"></image></button>
            </div>
            <div class="flex-grow-1 align-self-center">
              <div id="progressBar" class="p-2">
                <div id="pbarClick" class="progress" style="height: 4em">
                  <div id="pbarClick2" class="progress-bar  bg-danger" role="progressbar" style="width: 0%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="p-2 align-self-center">
              <span class ="align-bottom font-weight" id="timestamp">0:00/0:00</span>
            </div>
          </div>
        </div>
      </div>
      <div style="position: absolute;width:19%;background-color:white;display:inline-block;height:700px;top:60px">
        <div id="chat">
          <ul id="messages">
          </ul>
          <form id="chat_form" action="">
            <input id="m" autocomplete="off" /><button>Send</button>
          </form>
        </div>
      </div>
    </div>

    <i id="img-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Tooltip for image" data-animation="false" data-trigger="manual"/>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://gdata.youtube.com/feeds/api/videos/videoid?v=2&alt=json-in-script&format=5&callback=getTitle"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

    <script>
      function seekVid(e){
        var x = e.pageX - this.offsetLeft, // or e.offsetX (less support, though)
        y = e.pageY - this.offsetTop,  // or e.offsetY
        positionInfo = this.getBoundingClientRect();
        console.log(x / positionInfo.width);
        document.getElementById("pbarClick2").style.width = 100* (x/positionInfo.width) + "%"
        //seekVideo(x / positionInfo.width * player.getDuration());
        emitSeek(x / positionInfo.width * player.getDuration()); // calls seekVideo
      }
      pbar = document.getElementById('pbarClick');
      pbar.addEventListener('click', seekVid);
      //pbar.addEventListener('mouseover', seekVid);

      String.prototype.toMMSS = function () {
        var sec_num = parseInt(this, 10); // don't forget the second param
        var minutes = Math.floor(sec_num / 60);
        var seconds = sec_num - (minutes * 60);

        if (minutes < 10) { minutes = "0" + minutes; }
        if (seconds < 10) { seconds = "0" + seconds; }
        return minutes + ':' + seconds;
      }
      $("#pbarClick").on('mousemove', function (e) {
        $("#img-tooltip").css({ top: $("#pbarClick").offset().top, left: e.pageX });
        var p = ((e.pageX - this.offsetLeft) / this.getBoundingClientRect().width * player.getDuration()).toString().toMMSS();
        console.log(p);
        $('[data-toggle="tooltip"]').tooltip('hide').attr('data-original-title', p).tooltip('show');
        $('[data-toggle="tooltip"]').tooltip('show');
      })

      $("#pbarClick").on('mouseleave', function (e) {
        $('[data-toggle="tooltip"]').tooltip('hide');
      })
      
      setInterval(function () {
        var pBar = document.getElementById('pbarClick2');
        if (player == null || progressBar == null) {
          return;
        }
        var fraction = player.getCurrentTime() / player.getDuration() * 100;
        pBar.style.width = fraction + "%";
        var label = document.getElementById('timestamp');
        var time = player.getCurrentTime().toString().toMMSS() + " / " + player.getDuration().toString().toMMSS();
        label.innerHTML = time

      }, 200);


      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '480',
          width: '100%',
          videoId: 'kOHB85vDuow',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          },
          playerVars: {
            'controls': 0,
            'disablekb': 1,
            'modestbranding': 1,
            'rel': 0,
            'showinfo': 0
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
      }
      function playVideo(){
        player.playVideo();
        console.log('playing');
      }
      function pauseVideo(){
        player.pauseVideo();
        console.log('pausing');
      }
      function stopVideo() {
        player.stopVideo();
        console.log('stopping');
      }
      function seekVideo(param){
        player.seekTo(param);
      }

      $(document).ready(function () {

          $("#sidebar").mCustomScrollbar({
            theme: "minimal"
          });

          $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
          });

        });


      var name = "anonymous";
      var socket = io.connect('http://localhost:5000/', {query:"token=<%= token %>"});  
      // sending
      function emitPlay(){
        playVideo();
        socket.emit('play')
      }
      function emitPause(){
        pauseVideo();
        socket.emit('pause')
      }
      function emitSeek(param){
        seekVideo(param);
        socket.emit('seek', param)
      }

      // receiving
      socket.on('play', function() {
        playVideo();
      });
      socket.on('pause', function() {
        pauseVideo();
      });
      socket.on('seek', function(param) {
        seekVideo(param);
      });

      $('form').submit(function(e){
        e.preventDefault(); // prevents page reloading
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      //Upon receiving a "chat message", we will do the following
      socket.on('chat message', function(msg){
        console.log(msg);
        var msg_p = JSON.parse(msg);
        console.log(msg_p);
        $('#messages').append($('<li><span style="color: '+msg_p["color"]+'">'+name+'</span>: '+msg_p["message"]+'</li>'));
        $('#messages').scrollTop($('#messages')[0].scrollHeight - $('#messages')[0].clientHeight);
      });



    </script>
  </body>
</html>
